@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Noto Sans KR", "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.device {
  width: 300px;
  height: 630px;
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
}
.status-bar {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  position: relative;
}

.status-bar-icon {
  display: flex;
  align-items: center;
  margin-left: 85px;
}

.status-bar-icon-wifi {
  margin: 0 10px;
}

.status-bar-back {
display: flex;
align-items: center;
justify-content: center;
font-size: 8px;
font-weight: 500;
position: absolute;
left: 8px;
top: 15px;
}

.status-bar-back-text {
  margin-left: 3px;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__box {
  width: 100px;
  height: 100px;
  background-color: #10C453;
  color: white;
  margin-top: 120px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-bottom: 25px;
  position: relative;
}

.main__box-text {
  color: #10C453;
  font-size: 15px;
  font-weight: 900;
  position: absolute;
  bottom: 40px;
}

.main__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__text-big {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.main__text-small {
  font-size: 10px;
  font-weight: 500;
  opacity: 0.4;;
}

.bottom {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.bottom__btn-login {
  width: 270px;
  height: 40px;
  background-color: #10C453;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600px;
  text-decoration: none;
  color: white;
  box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.5);
}

.bottom__btn-join {
  width: 270px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600px;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.5);
}

.bottom__bar {
  margin-top: 40px;
  width: 110px;
  height: 5px;
  border-radius: 20px;
  background-color: black;
}